 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script> 
<script id="details-template" type="text/x-handlebars-template">
	
</script>
	 <div id='mainDiv'>
	<div id='formDiv'>
		<form id='demoForm'>
			<fieldset>
				<legend>Register here</legend>
				<table id='regDetails'>
					<tr>
						<td><label >ID</label></td>
						<td><input type='text' id='ID'/></td>
					</tr>
					<tr>
						<td><label >Name</label></td>
						<td><input type='text' id='Nameinput'/></td>
					</tr>
					<tr>
						<td><label >price</label></td>
						<td><input type='number' id='Priceinput'/></td>
					</tr>
					<tr>
						<td colspan='2'><input type='submit' id='submitButton'/></td>
					</tr>
				</table>
			</fieldset>
		</from>
	</div>
	<div id='detailsBox'></div>
</div>


